body {
    font-family: 'Arial', sans-serif;
    background: url('/static/images/bg2.jpeg');
    background-size: cover;
    color: #333333; /* Dark text color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: #f0f8f7; /* Light green background */
    border: 1px solid #d3e0dc; /* Light green border color */
    opacity: 90%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    color: #00cc66; /* Light green heading color */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #b1ccc9; /* Light green border color */
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #000000; /* Light green button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #008040; /* Darker green on hover */
}

a {
    color: #00cc66; /* Light green link color */
}

.password-container {
    position: relative;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #666666; /* Adjust the color as needed */
    outline: none;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* styles.css */

/* ... Your existing styles ... */

.vulnerabilities-paragraph {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.vulnerabilities-paragraph p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

